h1{
    text-align: center;
}

.grid-container{
    display: grid;
    width: 80%;
    height: 600px;
    padding: 10px;
    grid-gap: 8px;
    margin: 0 auto;
    justify-content: stretch;
    align-items: stretch;
    background-color: #601486 ;
}

.grid-container > div{
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
    background-color: #DAF7A6;
}

.item1{
    grid-area: 1/1/2/7;
    /*grid-area: header;*/
}

.item2{
    grid-area: 2/1/4/2;
    /*grid-area: menu;*/
}

.item3{
    grid-area: 2/2/3/5; 
    /*grid-area: main;*/
}

.item4{
    grid-area: 2/5/3/7;
    /*grid-area: rigth;*/
}

.item5{
    grid-area: 3/2/4/7;
    /*grid-area: footer;*/
}